/* nav */
.nav-wrap { 

	position: absolute; 
	top:0; left:0; right:0; 
	z-index: 4;
	
	&:before {
		background: rgba(0,0,0,0.8); 
		content:""; 
		position: absolute; 
		top:0; left:0; right:0; 
		height: 35px;
	}
	
}



.nav { position: absolute; top: 35px; left:0; right:0; background: #fff; height: 125px; }
.nav .sw,
nav,
nav>ul { height: 100%; display: block; }

.nav-wrap,
.header-logo { position: fixed; }
.header-logo { top: -10px; }

nav {

	float: right;
	position: static;
	
	>ul {
		display: table;
		
		>li { 
		
			padding: 0 12px;
			display: table-cell;
			vertical-align: middle;
			
			/* dropdown */
			>div {  
				position: absolute; 
				overflow:hidden;
				top: 100%; left:0; right:0;
				background: $darkGreenColor; 
				@include transform-origin( center top );
				@include transform( scale(1,0) );
				@include transition( transform 0.2s $ease-in-out-sine );
				@include display( flex );
				@include align-items( center );
				@include flex-wrap( nowrap );
				
				$dropDownMetaWidth: 235px;
				
				&:before {
					content:"";
					position: absolute;
					top:0; left: $dropDownMetaWidth; right:0; bottom:0; 
					@include linear-gradient(#f9f9f9 0%, #f9f9f9 50%, #efefef 50%, #efefef 100%);
				}
				
				.meta-content {
					color: #efefef;
					font-size: 14px; 
					padding: 15px 0;
					@include flex( 0 0 $dropDownMetaWidth );
					
					.title,
					.subtitle,
					ul { padding: 0 15px; }
					
					.title {
						font-size: 24px;
						text-transform: uppercase; 
						display: block;
						line-height:1;
						color: lighten($greenColor,25);
					}
					
					.subtitle { font-size: 16px; }
					
					a { 
						color: #efefef; 
						display: block;
						margin: 0 -15px;
						text-transform: uppercase; 
						padding: 5px 15px 3px;
						@include transition( background 0.15s $ease-in-out-sine );
						
						&:hover { background: $greenColor; }
					}
					
				}
				
				.detail {
					background: $greenColor;
					padding: 8px 15px; 
					width:100%;
					margin: 8px 0;
				}
				
				.swiper-wrapper {
					@include flex( 1 1 $wrapperWidth - $dropDownMetaWidth );
					
					ul {
						display: table; 
						width: 90%; 
						margin: 0 auto;
						table-layout: fixed;
						
						li { display: table-cell; }
						
					}
					
					.wsf {
					
						text-align: center; 
						padding: 14px;
						border-radius: 8px;
						color: $darkGreenColor; 
						text-transform: uppercase; 
						display: block;
						
						&:before {
							font-size: 100px;
							display: block; 
						}
						
						&:hover {
							color: #fff;
							background: $darkGreenColor;
						}
						
					}
					
				}
				
			}
			
			&.drop {
				
				>a { 
					position: relative;
					padding-right: 30px; 
					
					&:after { 
					
						@include fa-icon();
						@include t-fa-offset(24px,1.2);
						content: $fa-var-angle-down;
						position: absolute; top: 50%; right: 5px; color: $greyColor; z-index: 1;
						
					}
					
				}
				
			}
		
			&:hover {
				
				background: $darkGreenColor;
				
				>a {
					color: #fff;
					&:after,
					&:before { color: #fff; }
				}
				
				/* dropdown */
				div {
					@include transform( scale(1,1) );
				}
				
			}
		
			>a { 
			
				display: inline-block;
				color: #000; 
				font-size: 18px;
				text-transform: uppercase;
				position: relative;
				z-index: 2;
				
				&:before {
				
					color: $greenColor; 
					font-size: 52px; 
					display: inline-block; 
					vertical-align: middle; 
					margin-top: -4px;
					padding-right: 10px;
					text-transform: none;
					
				}
				
			}
		
		}
		
	}
	
}


/* nav top */
.nav-top { 

	position: absolute; 
	top: -36px; right:0; 
	padding-right: 36px;
	line-height: 35px;
	height: 35px;
	overflow:hidden;
	
	a {
		display: block;
		float: left; 
	}

	.toggle-search-form { 

		width: 36px; height: 36px; 
		background: $greenColor; 
		display:block;
		position: absolute !important;
		right:0; top:0;
		
		&:before { color: #fff; 
			@include t-fa-offset(18px,1.2);
		}
		
		&:hover {
			background: $darkGreenColor;
		}
	}	

}

.nav-meta-nav,
.nav-top .social { display: inline-block; vertical-align: middle; margin-right: 5px; }
.nav-meta-nav {

	margin-right: 4px; 
	border-right: 1px solid #000; 	
	
	a {
	
		 color: $greyColor; 
		 font-size: 10px; 
		 text-transform: uppercase; 
		 padding: 0 10px; 
		 
		&:hover {
		
			background: #000; 
			color: #fff; 
			
		}
		
	}
	
}

/* smaller nav */
nav>ul>li>a:before,
.nav,
.header-logo {
	@include transition-duration( 0.2s );
	@include transition-timing-function( $ease-in-out-sine );
}

.nav { 
	@include transition-property( height, box-shadow ); 
}
.header-logo { 
	@include transition-property( transform ); 
	@include transform-origin( left 10px );
}

nav>ul>li>a:before {
	@include transition-property( font-size ); 
}

@media screen and (min-width: ($collapseNavAt + 1) ) {

	/* embellishment arrow on hover */
	nav>ul>li.drop {

		a>span:after {
			position: absolute;
			top:95px; left:0; right:0;
			width:0; height:0;
			margin: 0 auto;
			border: solid transparent;
			border-width: 24px 18px;
			border-top-color: $darkGreenColor;
			content:"";
			
			@include transform-origin( center top );
			@include transform( scale(1,0) );
			@include transition( all 0.2s $ease-in-out-sine );
			
			.small-nav & { top:50px; }
		}
		
		&:hover a>span:after {
			@include transform( scale(1,1) );
		}
		
	}

	.small-nav { 
		nav>ul>li>a:before { font-size: 32px; }
		.header-logo { @include transform( scale(0.6,0.6) ); }
		&.show-search .header-logo { @include transform( scale(0.6,0.6) translate3d(0, 90px, 0) ); }
		.nav { height: 65px; 
			box-shadow: 0 4px 4px rgba(0,0,0,0.2); 
		}
		
		
	}

}


button.toggle-nav { display: none; }

/* reorganize dropdown */
@media screen and (max-width: 900px) {
	
	nav>ul>li {
	
		position: relative;
		
		>div {
			left: -100px; right: -100px;
			background: transparent; 
			text-align:center;
			display: block;
			
			&:before { display: none; }
		}
		
		.meta-content {
			display: inline-block;
			background: $darkGreenColor;
		}
		
		.swiper-wrapper,
		.title,
		.subtitle,
		.detail { display: none !important; }
	
	}
	
}

/* collapse nav */
.mobile-nav-bg { display: none; }
@media screen and (max-width: $collapseNavAt) {

	.mobile-nav-bg { 
		background: rgba(0,0,0,0.6); 
		position: fixed; 
		top:0; left:0; right:0; bottom:0; 
		z-index: -1; 
		display: block; 
		visibility: hidden; 
		opacity:0; 
		cursor: pointer;
		@include transition( all 0.4s $ease-in-out-sine );
		
		.show-nav & {
			opacity:1; 
			visibility: visible; 
			z-index: 21; 
			cursor: pointer;
			@include transform( translateZ(0) );
		}
		
	}

	header { padding:0; background: #fff; z-index: 10; top:0; position: fixed; box-shadow: 0 4px 4px rgba(0,0,0,0.2); }
	.header-logo { 
		margin: 15px auto 0;
		width: 80px; 
		display: block; 
		position: relative;
		
		img { display: none; }
		
		span {
			width: 100%; height:0;
			display: block;
			padding: 60% 0 0;
			background: url(../images/weather-shore-windows-notext.svg) center center no-repeat;
			background-size: contain; 
		}
	}
	
	
	.nav-wrap { z-index: 22;
		@include transform( translate3d(-300px,0,0) );
		@include transition( 0.2s transform 0s $ease-in-out-sine );
	}
	
	button.toggle-nav { @include t-fa-abs();
		outline: none;
		display: block; 
		position: fixed; 
		top:10px; left: 10px; 
		z-index: 20; 
		width: 40px; height: 40px;
		background: $yellowColor;
		&:before { 
			@include t-fa-offset(24px,1);
			content: $fa-var-navicon; 
			color: #fff;
			}
	}
	
	.show-nav {
		body { overflow: hidden; }
		
		.nav-wrap {
			@include transform( none );		
		}
		
		.header-logo {
			@include transform( none !important );
		}
		
	}
	
	.nav-wrap { position: fixed; top:0; left:0; bottom:0; width: 240px; background: $darkGreenColor; box-shadow: 4px 0 4px rgba(0,0,0,0.4); }
	.nav { position: absolute; top:0; left:0; right:0; bottom: -10px; padding-top: 36px; }
	
	.nav-wrap,
	.ios .nav {
		overflow-y: scroll; 
		-webkit-overflow-scrolling: touch;
	}
	.ios .nav,
	.ios .nav>* {
		@include transform( translateZ(0) );
	}
	
	.nav .sw { 
		max-width: 100%; position:static;
		
		.ios & { height: 101%; }
	}
	
	nav>ul>li>a:after,
	nav>ul>li>a:before { display: none !important; }
	
	.nav { 
		height: auto; 
		background: $darkGreenColor;
	}
	nav>ul,
	nav>ul>li,
	nav>ul>li>a { display: block; }
	
	.nav-top { 
		position: static; 
		padding:0;
		height:auto;
		
		.social {
		
			display: block;
			text-align: center;
			margin: 0;
			padding: 10px 0;
			
			a { 
			
				float: none; 
				margin: 0 4px;
				
				&:before { 
				
					@include t-fa-offset( 28px,1.2 ); 
					color: lighten($greenColor,20);
					opacity: 0.6;
					
				}
				
			}
			
		}
		
	}
	
	nav { 
		height:auto;
		float: none;
		
		>ul>li {
		
			padding:0;
		
			>a {
				color: #fff;
				padding: 5px 15px !important;
				border-bottom: 1px solid darken($darkGreenColor,5);
				
				&:hover { background: $greenColor; }
				
			}
		
			>div {
				position: static;
				text-align: left; 
				@include transform( none );
				
				.meta-content {
					display: block;
					background: darken($darkGreenColor,10);
					padding: 0;
					
					a { line-height: 1.6; }
					
				}
				
			}
			
		}
		
	}
	
	.nav .toggle-search-form {
	
		.ios & { top: -36px; }
	
		position: absolute;
		top: 0; left: 0; right: 0;
		width: 100%;
		text-indent: 0;
		color:  #fff;
		font-size: 16px;
		text-transform: uppercase;
		
		&:before {
			right: auto; left: 40px; 
		}

	}
	
	.nav-meta-nav {
		border: none;
		display: block;
		margin:0;

		a {
			padding: 10px;
			color: #fff;
			border-bottom: 1px solid darken($darkGreenColor,5);
			font-size: 14px; 
			line-height: 1;
			display:block;
			float: none;
			
			&:hover { background: $greenColor; }
			
		}
	}
	
}