$sidebarWidth: 380px;
$sidebarCollapseWidth: 800px;

/* main body - flexbox */
.main-body {
	@include display(flex);
	
	&>.time {
		@include flex( 0 0 80px);
		margin-right: 20px;
	}
	
	.content { 
		@include flex( 1 1 $sidebarCollapseWidth - $sidebarWidth ); 
	}
	.sidebar {
		margin-left: 40px;
		@include flex( 0 5 $sidebarWidth );
	}
	
}

@media screen and (max-width: ($sidebarCollapseWidth) ) {
	.main-body {
		@include flex-wrap( wrap );
		@include justify-content( center );
		.sidebar { 
			margin: 20px 0 0;
		}
	}
}

.article-head { background-color: $darkBackgroundColor; color: #fff; margin-bottom: 12px;}


.article-body .excerpt,
.article-body blockquote { }

.article-body {

	font-family: $defaultFontStack; 
	color: $bodyContentColor; 
	font-size: 16px; 
	line-height: 1.5;
	
	.dark-bg & { color: $darkBackgroundContentColor; }
	
	.excerpt,
	blockquote { 
		color: $excerptColor; 
		font-size: 18px; 
		line-height: 1.44444; 
		margin-bottom: 15px;
	}
	
	ul,
	ol { margin: 25px 0; list-style:none;}
	
	li {
		position: relative; 
		margin: 0 0 7px;  
		color: $bodyContentColor; 
		line-height: 1.6;
	}
	

	ul {
	
		>li {
		
			padding-left: 18px;
			
			&:before {
				content:""; 
				width: 6px; height: 6px; 
				border-radius: 3px; 
				background: $listNumberColor; 
				display: block; 
				position: absolute; 
				right: auto; left: 0; top:4px; 
				margin-top: 4px; 
			}
			
			>ul {
				>li {
					&:before {
						background: #a1a1a1; 
					}
				}
			}
			
		}
		
	}
	
	ol {
		counter-reset: li;
		padding-left:10px;
		
		>li {
			list-style-type:none;
			padding-left:10px;
			
			&:before {
				position: absolute; 
				left: -10px; top: 0; 
				content:counter(li); 
				counter-increment:li; 
				color: $listNumberColor; 
				font-weight:bold;
			}
			
			ol {
				>li {
					&:before { content:counter(li, lower-alpha); }
				}
			}
			
		}

	}
		
	p {
		margin-bottom: 15px; 
		font-size: 16px; 
		line-height: 1.5;
		
		+ ul,
		+ ol { margin-top:0; }
	}
		
}

.breadcrumbs {

	padding: 10px 0; 
	font-size: 14px; 
	text-transform: uppercase; 
	background: #f4f4f4;

	a {
	
		text-decoration: none; 
		color: $breadCrumbColor;
		@include transition( color 0.2s $ease-in-out-sine );
		
		+a:before { 
		
			content:"\00BB"; 
			display: inline-block; 
			color: #939598 !important; 
			line-height: 1; 
			font-size: 22px; 
			vertical-align: baseline; 
			margin-right:3px;
			
		}
		
		&:last-child { 
			color: $breadCrumbColorActive; 
			.dark-bg & { color: #fff; }
		}
		
		&:hover { color: $breadCrumbColorHover !important; }
		
		@media screen and (max-width: 500px) {
			& { 
				display:block; 
				&:before { display:none; }
			}
		}
		
	}

}

a.inline,
.article-body a.inline,
.article-body span a,
.article-body p a,
.article-body li a,
.article-body blockquote a {
	display: inline-block; 
	position: relative; 
	z-index: 1; 
	white-space: nowrap; 
	
	color: $linkColor;
	.dark-bg & { color: $yellowColor; }
	
	&.visited,
	&:visited {
		color: $visitedColor;
		.dark-bg & { color: $darkGreenColor; }
	}
	
	&.hover,
	&:hover {
		color: $hoverColor;
		.dark-bg & { color: $greenColor; }
	}
	
}